.banner {
    background-color: cornflowerblue;
    height: var(--display-banner-height);
    line-height: var(--display-banner-height);
    margin: auto;
    max-width: 360px;
    text-align: center;
}

.banner a {
    color: black;
    margin: auto;
}