.swipingContainer {
  cursor: grab;
  overflow: hidden;
}

.swipingView {
  display: flex;
  padding: 1em 0;
}

.swipeableItem {
  min-width: 280px;
  padding: 1em 0.5em;
}

.swipeableItem img {
  border-radius: 1em;
  height: 100%;
  min-width: 280px;
  width: 100%;
}