.swipingContainer {
  background-color: blueviolet;
  cursor: grab;
  margin: 1em 2em;
  overflow: hidden;
}

.swipingView {
  background-color: beige;
  display: flex;
  padding: 1em;
}

.swipeableItem {
  background-color: aquamarine;
  border-radius: 1em;
  min-width: 280px;
  padding: 1em;
}

.swipeableItem img {
  border-radius: 1em;
  height: 100%;
  min-width: 280px;
  width: 100%;
}